.event-filters-container
{
	border-bottom: 1px solid #303030;
	padding: 10px 0px;
	margin-bottom: 30px;
}

.event-list
{
	list-style-type: none;
}

.event-list .event-list-item
{
	
}

.event-list .event-list-item .event-list-item-image
{
	height: 300px;
	width: 250px;
	background-position: center;
	background-size: auto 100%;
}