.event-filters-container
{
	border-bottom: 1px solid #303030;
	padding: 10px 0px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.event-list
{
	list-style-type: none;
	margin: 0px;
}

.event-list .event-list-item
{
	
}

.event-list .event-list-item .event-list-item-image
{
	float: left;
	height: 300px;
	width: 250px;
	background-position: center;
	background-size: auto 100%;
	
}
.event-list-item-content
{
	margin-left: 280px;
	height: 300px;
}


.event-list-item-content-title
{
	font-size: 24px;
}

.event-list-item-content-artists
{
	font-size: 20px;
}

.event-list-item-content-datelocation
{
	font-size: 16px;
}

.event-list-item-content-desc
{
	font-size: 16px;
}

.event-list-item-tags-container
{
	
}

.event-list-item-tag
{
	margin-right: 5px;
}

.event-list-item-controller
{
	text-align: right;
	margin-right: 10px;
	margin-top: 10px;
	background-color: #303030;
	padding: 10px;
	border-radius: 3px;
	background-image: url("images/logo.png");
	background-position: 20px center;
	background-repeat: no-repeat;
}

.event-list-item-controller .generic-label
{
	font-size: 16px;
	color: white;
}

.event-list-item-controller .event-list-item-quantity-select
{
	width: 60px;
	margin-right: 20px;
}

.event-list-item-representation-select
{
	margin-right: 20px;
}

.event-list-item-controller .generic-button
{
	padding: 5px 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.event-list-item-addtocart-button
{
	display: none;
}

.event-list-item-disponibility-button
{
}

.disponibility-button-onchar
{
	color: black;
}
