.empty-event-list-notification
{
	height: 100px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

.empty-event-list-notification table
{
	height: 100%;
	width: 100%;
}

.event-filters-container
{
	border-bottom: 1px solid #303030;
	padding: 10px 0px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.event-list
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.event-list .event-list-item
{
	margin-bottom: 30px;
}

.event-list .event-list-item .event-list-item-image
{
	float: left;
	height: 300px;
	width: 250px;
	background-position: center;
	background-size: auto 100%;
	
}

.event-list-item-content
{
	margin-left: 280px;
	height: 300px;
}

.event-list-item-content-title
{
	font-size: 24px;
}

.event-list-item-content-artists
{
	font-size: 20px;
}

.event-list-item-content-datelocation
{
	font-size: 16px;
}

.event-list-item-content-desc
{
	font-size: 16px;
}

.event-list-item-tags-container
{
	
}

.event-list-item-tag
{
	margin-right: 5px;
}

.event-list-item-controller
{
	text-align: right;
	margin-top: 10px;
	background-color: #303030;
	padding: 6px;
	border-radius: 3px;
	background-image: url("images/logo_small.png");
	background-position: 20px center;
	background-repeat: no-repeat;
}

.event-list-item-controller .generic-label
{
	font-size: 16px;
	color: white;
}

.event-list-item-controller .event-list-item-quantity-select
{
	width: 60px;
}

.event-list-item-representation-select
{
	min-width: 200px;
}

.event-list-item-controller .generic-button
{
	padding: 3px 10px;
	margin-left: 10px;
}

.disponibility-button-onchar
{
	color: black;
}

.event-list-pager-container
{
	border-bottom: 1px solid #303030;
	margin-bottom: 20px;
}

.event-list-pager
{
	width: 100%;
	display: block;
	padding: 0px;
	color: white;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
}

.event-list-pager .event-list-pager-button
{
	padding: 5px 0px;
	text-align: center;
	width: 50px;
	background-color: #888888;
	display: inline-block;
	border-radius: 3px;
	margin: 0px 2px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	opacity: 0.8;
}

.event-list-pager .event-list-pager-button.is-selected
{
	background-color: #666666;
	font-weight: bolder;
	opacity: 1;
}

.event-list-pager .event-list-pager-button:hover
{
	background-color: #A0A0A0;
	cursor: pointer;
}