.shopping-cart-item-list
{
	list-style-type: none;
	margin: 0px;
}

.shopping-cart-item-list .shopping-cart-item
{
	margin-bottom: 30px;
	position: relative;
	padding-bottom: 30px;
	border-bottom: 1px solid #303030;
}

.shopping-cart-item-list .shopping-cart-item .shopping-cart-item-image
{
	float: left;
	height: 125px;
	width: 100px;
	background-position: center;
	background-size: auto 100%;
	
}
.shopping-cart-item-content
{
	margin-left: 130px;
	height: 125px;
}

.shopping-cart-item-desc
{
	display: inline-block;
	width: 70%;
}

.shopping-cart-item-title, 
.shopping-cart-item-unitprice
{
	font-size: 18px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

.shopping-cart-item-unitprice
{
	text-decoration: underline;
}

.shopping-cart-item-artists
{
	font-size: 16px;
}

.shopping-cart-item-controller
{
	text-align: right;
	margin-top: 10px;
	padding: 6px 10px;
	border-radius: 3px;
	background: #303030; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffffff 1%, #888888 14%, #303030 40%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,#ffffff), color-stop(14%,#888888), color-stop(40%,#303030)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffffff 1%,#888888 14%,#303030 40%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffffff 1%,#888888 14%,#303030 40%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffffff 1%,#888888 14%,#303030 40%); /* IE10+ */
	background: linear-gradient(to right,  #ffffff 1%,#888888 14%,#303030 40%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#303030',GradientType=1 ); /* IE6-9 */
}

.shopping-cart-item-controller .generic-label
{
	font-size: 16px;
	color: white;
}

.shopping-cart-item-quantity-select
{
	width: 60px;
	margin-right: 20px;
}

.shopping-cart-item-representation-select
{
	margin-right: 20px;
}

.shopping-cart-item-list-controller
{
	text-align: right;
	margin-top: 10px;
	background-color: #303030;
	padding: 6px;
	border-radius: 3px;
	background-image: url("images/logo_small.png");
	background-position: 20px center;
	background-repeat: no-repeat;
}

.shopping-cart-item-list-controller .generic-button
{
	padding: 3px 10px;
	margin-left: 10px;
}

.shopping-cart-item-list-controller .generic-label
{
	font-size: 16px;
	color: white;
}

.shopping-cart-item-total,
.shopping-cart-item-list-total
{
	color: white;
	font-weight: bold;
}
